// Brand colors
$brotecito: #B7DD79;    // Verde brotecito
$dorado: #FBD865; // Amarillo Dorado Tierno
$fuego: #F9423A;         // Rojo Fuego
$lenguita: #00AEC7;       // Azul Lenguita

// Bootstrap overwrite (opcional)
$primary: $dorado;     // Color principal de marca
$secondary: $brotecito;      // Color secundario
$danger: $fuego;              // Para alertas o botones de peligro
$info: $lenguita;             // Para elementos informativos