/**
 * tipografías
 */
/* Nunito para títulos */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Variable.ttf') format('truetype');
  font-weight: 200 900; // rango de pesos de la variable
  font-style: normal;
  font-display: swap;
}

/* Poppins Light para cuerpo */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: 700; // negrita
}

body, p, li, span {
  font-family: $font-family-base;
  font-weight: 300; // light
}
/**
 * header background color
 */
 .custom-logo-link {
    img {
        max-width: 135px;
    }
 }

.nav-link {
    color: var(--bs-body-color);
    font-size: 1.25rem;
    font-weight: 900;
    font-family: Nunito, sans-serif;
    .active {
        color: var(--bs-primary);
    }
}
.btn-add {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 15px;
    &.account {
        background: var(--bs-secondary);
        /*background-image: url('../images/icon-user.svg');*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
    }
    &.cart {
        background: var(--bs-primary);
        /*background-image: url('../images/icon-cart.svg');*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
    }
}
/**
*
* Modal de búsqueda 
*
**/

.skeleton-card {
    height: 80px;
    background: #eee;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.skeleton-card::before {
    content: "";
    position: absolute;
    top: 0; left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.4) 50%, transparent 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% { left: 100%; }
}
